.body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: left;
            background-color: purple;
        }

        .container {
            text-align: center;
        }

        button {
            padding: 10px 20px;
            margin: 0px;
            font-size: 16px;
            cursor: pointer;
            color: blue;
            border-radius: 12px;

        }