body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;     /* start from top */
    align-items: flex-start;         /* align left */
    background-color: purple;
}

h1 {
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;          /* buttons go down */
    align-items: flex-start;         /* keep left */
    margin-left: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 16px;
    cursor: pointer;
    color: blue;
    border-radius: 12px;
}
